/*  For software center  */
.KoolshareBottom {
	width: 230px;
	height: 100px;
	background: url(/res/koolshare.png) 0px 3px no-repeat;
	text-align: left;
	padding-left:150px;
	padding-top:8px;
	margin-top:20px;
	float:right;
}

.input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	background-color: transparent;
	background-color: #3e030d;
	border:1px solid #91071f;
	color:#FFFFFF;
}

.FormTitle i {
    color: #FC0;
    font-style: normal;
}
.FormTitle em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
.FormTitle_firefox i {
    color: #FC0;
    font-style: normal;
}
.FormTitle_firefox em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle_firefox b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
.SimpleNote { padding:5px 10px;}
.NoteButton { padding:5px 10px; margin:10px 0}
#NoteBox { padding:10px}
.FormTable h2,#NoteBox h2 { font-size:16px; border-bottom:1px #AAA dashed; height:26px; color:#1cfe16; margin-top:20px;}
.FormTable h3,#NoteBox h3,
.FormTable h4,#NoteBox h4 { color:#FC0;}
.IE8HACK{
	display: none \9;
}
.splitLine{
	background: #CEC1C7;
	background: -webkit-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: -o-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%,#766D71 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}

[bgcolor="#4D595D"]{
	background: rgba(0, 0, 0, 0.5);
}
.submenuBlock{
	width:735px;
	margin-top:-140px;
	margin-bottom: -3px;
}
.tab{
	cursor:pointer;
	background: rgb(83,4,18);
	color: White;
	float: left;
	height: 30px;
	margin-left: -3px;
	margin-right: 2px;
	text-align:center;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	border-radius: 5px 5px 0px 0px;
}
.tabClicked{
	cursor:pointer;
	background: rgba(0, 0, 0, 0.5);
	color: White;
	float: left;
	height: 30px;
	margin-left: -3px;
	margin-right: 2px;
	text-align:center;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	border-radius: 5px 5px 0px 0px;
}

