/*common_style*/
.FormTable, .FormTable thead tr td, .FormTable th, .FormTable td {
	border-width: 0.5px
}
.KoolshareBottom {
	width: 205px;
	height: 100px;
	/*background: url(/res/koolshare.png) 0px 3px no-repeat;*/
	text-align: left;
	padding-left:150px;
	padding-top:7px;
	margin-top:20px;
	float:right;
}
.FormTitle i {
    color: #FC0;
    font-style: normal;
}
.FormTitle em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
.FormTitle_firefox i {
    color: #FC0;
    font-style: normal;
}
.FormTitle_firefox em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle_firefox b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
.SimpleNote {
	padding:5px 10px;
}
.IE8HACK{
	display: none \9;
}
.input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	border: 1px solid #4c4c4c;
	background-color: #373737;
	color:#FFFFFF;
}
.splitLine{
	background: #CEC1C7;
	background: -webkit-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: -o-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%,#766D71 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}
.show-install-btn, .show-uninstall-btn {
	border: 1px solid #2ed9c3;
	background: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
}
.active {
	background: #2ed9c3;
	border: 1px solid #2ed9c3;
}
#soft_log {
	width:99%;
	font-family:'Lucida Console';
	font-size:12px;
	background:transparent;
	border:1px solid #2ed9c3;
	color:#FFFFFF;
}
#IconContainer {
	border: 1px solid #2ed9c3;
}
.ks_btn {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #2ed9c3  0%, #0a7264 100%);
}
.ks_btn:hover {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #2ed9c3  0%, #22c0bf 100%);
}
.soft_setting_log{
	margin-top:10px;
	display:block;
	overflow:hidden;
	outline: 1px solid #222;
	outline: 1px solid #2ed9c3;
}
.soft_setting_log1{
	width:97%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.5;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	margin-top:1px;
	border:0px solid #222;
	background:#475A5F;
	background:transparent;
}
[bgcolor="#4D595D"]{
	background: rgba(0, 0, 0, 0.3);
}
[bgcolor="#444f53"]{
	background: rgba(0, 0, 0, 0.5);
}
.submenuBlock{
	width:735px;
	margin-top:-140px;
	margin-bottom: -3px;
}
/*ASUSWRT*/
#app[skin=ASUSWRT] .input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	background-color: #576d73;
	border:1px solid gray;
	color:#FFFFFF;
}
#app[skin=ASUSWRT] .splitLine{
	background: #32393B;
	background: -webkit-linear-gradient(#32393B 0%, #32393B 20%, #667881 80%, #667881 100%);
	background: -o-linear-gradient(#32393B 0%, #32393B 20%, #667881 80%, #667881 100%);
	background: linear-gradient(#32393B 0%, #32393B 20%, #667881 80%,#667881 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}
#app[skin=ASUSWRT] .show-install-btn, #app[skin=ASUSWRT] .show-uninstall-btn {
	border: none;
	background: #444;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
}
#app[skin=ASUSWRT] .active {
	background: #444f53;
	border: none;
}
#app[skin=ASUSWRT] #soft_log {
	width:99%;
	font-family:'Lucida Console';
	font-size:12px;
	background:#475A5F;
	color:#FFFFFF;
	border:none;
}
#app[skin=ASUSWRT] #IconContainer {
	border: none;
}
#app[skin=ASUSWRT] .ks_btn {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #003333  0%, #000000 100%);
}
#app[skin=ASUSWRT] .ks_btn:hover {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #27c9c9  0%, #279fd9 100%);
}
#app[skin=ASUSWRT] .soft_setting_log{
	margin-top:10px;
	display:block;
	overflow:hidden;
	outline: 1px solid #222;
}
#app[skin=ASUSWRT] .soft_setting_log1{
	width:97%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.5;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	margin-top:1px;
	border:0px solid #222;
	background:#475A5F;
}
/*ROG*/
#app[skin=ROG] .input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	background-color: #3e030d;
	border:1px solid #91071f;
	color:#FFFFFF;
}
#app[skin=ROG] .splitLine{
	background: #CEC1C7;
	background: -webkit-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: -o-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%,#766D71 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}
#app[skin=ROG] .show-install-btn, #app[skin=ROG] .show-uninstall-btn {
	border: 1px solid #680516;
	background: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
}
#app[skin=ROG] .active {
	background: #680516;
	border: 1px solid #680516;
}
#app[skin=ROG] #soft_log {
	width:99%;
	font-family:'Lucida Console';
	font-size:12px;
	background:transparent;
	border:1px solid #91071f;
	color:#FFFFFF;
}
#app[skin=ROG] #IconContainer {
	border: 1px solid #680516;
}
#app[skin=ROG] .ks_btn {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #91071f  0%, #700618 100%);
}
#app[skin=ROG] .ks_btn:hover {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #cf0a2c  0%, #91071f 100%);
}
#app[skin=ROG] .soft_setting_log{
	margin-top:10px;
	display:block;
	overflow:hidden;
	outline: 1px solid #222;
	outline: 1px solid #91071f;
}
#app[skin=ROG] .soft_setting_log1{
	width:97%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.5;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	margin-top:1px;
	border:0px solid #222;
	background:#475A5F;
	background:transparent;
}
#app[skin=ROG] [bgcolor="#4D595D"]{
	background: rgba(0, 0, 0, 0.3);
}
#app[skin=ROG] [bgcolor="#444f53"]{
	background: rgba(0, 0, 0, 0.5);
}
#app[skin=ROG] .submenuBlock{
	width:735px;
	margin-top:-140px;
	margin-bottom: -3px;
}
/*TUF*/
#app[skin=TUF] .input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	border: 1px solid #4c4c4c;
	background-color: #373737;
	color:#FFFFFF;
}
#app[skin=TUF] .splitLine{
	background: #CEC1C7;
	background: -webkit-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: -o-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%,#766D71 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}
#app[skin=TUF] .show-install-btn, #app[skin=TUF] .show-uninstall-btn {
	border: 1px solid #D0982C;
	background: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
}
#app[skin=TUF] .active {
	background: #D0982C;
	border: 1px solid #D0982C;
}
#app[skin=TUF] #soft_log {
	width:99%;
	font-family:'Lucida Console';
	font-size:12px;
	background:transparent;
	border:1px solid #92650F;
	color:#FFFFFF;
}
#app[skin=TUF] #IconContainer {
	border: 1px solid #D0982C;
}
#app[skin=TUF] .ks_btn {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #92650F  0%, #74500b 100%);
}
#app[skin=TUF] .ks_btn:hover {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #c58813  0%, #92650F 100%);
}
#app[skin=TUF] .soft_setting_log{
	margin-top:10px;
	display:block;
	overflow:hidden;
	outline: 1px solid #222;
	outline: 1px solid #92650F;
}
#app[skin=TUF] .soft_setting_log1{
	width:97%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.5;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	margin-top:1px;
	border:0px solid #222;
	background:#475A5F;
	background:transparent;
}
#app[skin=TUF] [bgcolor="#4D595D"]{
	background: rgba(0, 0, 0, 0.3);
}
#app[skin=TUF] [bgcolor="#444f53"]{
	background: rgba(0, 0, 0, 0.5);
}
#app[skin=TUF] .submenuBlock{
	width:735px;
	margin-top:-140px;
	margin-bottom: -3px;
}
/*TS*/
#app[skin=TS] .input_ss_table{
	margin-left:2px;
	padding-left:0.4em;
	height:21px;
	width:158.2px;
	line-height:23px \9;	/*IE*/
	font-size:13px;
	font-family: Lucida Console;
	background-image:none;
	border: 1px solid #4c4c4c;
	background-color: #373737;
	color:#FFFFFF;
}
#app[skin=TS] .splitLine{
	background: #CEC1C7;
	background: -webkit-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: -o-linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%, #766D71 100%);
	background: linear-gradient(#CEC1C7 0%, #CEC1C7 20%, #766D71 80%,#766D71 100%);
	height: 2px;
	width: 740px;
	margin: 1px 0;
}
#app[skin=TS] .show-install-btn, #app[skin=TS] .show-uninstall-btn {
	border: 1px solid #2ed9c3;
	background: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0px 0px;
}
#app[skin=TS] .active {
	background: #2ed9c3;
	border: 1px solid #2ed9c3;
}
#app[skin=TS] #soft_log {
	width:99%;
	font-family:'Lucida Console';
	font-size:12px;
	background:transparent;
	border:1px solid #2ed9c3;
	color:#FFFFFF;
}
#app[skin=TS] #IconContainer {
	border: 1px solid #2ed9c3;
}
#app[skin=TS] .ks_btn {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #2ed9c3  0%, #0a7264 100%);
}
#app[skin=TS] .ks_btn:hover {
	border: 1px solid #222;
	font-size:10pt;
	color: #fff;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:14%;
	vertical-align: middle;
	background: linear-gradient(to bottom, #2ed9c3  0%, #22c0bf 100%);
}
#app[skin=TS] .soft_setting_log{
	margin-top:10px;
	display:block;
	overflow:hidden;
	outline: 1px solid #222;
	outline: 1px solid #2ed9c3;
}
#app[skin=TS] .soft_setting_log1{
	width:97%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.5;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	margin-top:1px;
	border:0px solid #222;
	background:#475A5F;
	background:transparent;
}
#app[skin=TS] [bgcolor="#4D595D"]{
	background: rgba(0, 0, 0, 0.3);
}
#app[skin=TS] [bgcolor="#444f53"]{
	background: rgba(0, 0, 0, 0.5);
}
#app[skin=TS] .submenuBlock{
	width:735px;
	margin-top:-140px;
	margin-bottom: -3px;
}